<footer class="section-p1">
  <div class="col">
    <img class="logo" src="images/logo.png" alt="logo" width="100px" />
    <h4>Contact</h4>
    <p><strong>Address : </strong>Lorem ipsum dolor sit amet consectetur.</p>
    <p>
      <strong>Phone :</strong>
      9876543210
    </p>
    <p>
      <strong>Hours :</strong>
      10 : 00 Am to 9 : 00 Pm
    </p>
    <div class="follow">
      <h4>Follow us</h4>
      <div class="icon">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-pinterest-p"></i>
        <i class="fab fa-youtube"></i>
      </div>
    </div>
  </div>
  <div class="col">
    <h4>About</h4>
    <a href="#">About Us</a>
    <a href="#">Delivery information</a>
    <a href="#">Privacy Policy</a>
    <a href="#">Terms & Conditions</a>
    <a href="#">Contacct Us</a>
  </div>
  <div class="col">
    <h4>My Account</h4>
    <a href="#">Sign In</a>
    <a href="#">View Cart</a>
    <a href="#">My Wishlist</a>
    <a href="#">Track My Order</a>
    <a href="#">Help</a>
  </div>

  <div class="col install">
    <h4>Install App</h4>
    <p>From Google Play and App Store</p>
    <div class="row">
      <img src="img/pay/app.jpg" alt="app store" />
      <img src="img/pay/play.jpg" alt="play" />
      <p>Secured payment gateway</p>
      <img src="img/pay/pay.png" alt="" />
    </div>
  </div>
  <div class="copyright">
    <p>@ 2023 ,MYRA Ic All rights reserved</p>
  </div>
</footer>
