<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>sign up page</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
      }

      body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: linear-gradient(90deg, #fb37ff, #18b2de);
      }
      .error {
        font-size: 20px;
        color: red;
      }

      .wrapper {
        width: 420px;
        background-color: transparent;
        border: 2px solid rgba(255, 255, 255, 02);
        border-radius: 10px;
        padding: 30px 40px;
        color: #fff;
      }

      input {
        margin: 5px;
        width: 100%;
        height: 50px;
        background: none;
        outline: none;
        border: 2px solid;
        border-radius: 40px;
        padding: 20px 45px 20px 20px;
        font-size: 16px;
        color: #fff;
      }

      .btn {
        margin-top: 5px;
        width: 100%;
        height: 50px;
        background-color: #fff;
        outline: none;
        border: solid #fff;
        border-radius: 40px;
        font-size: 16px;
        color: #000;
      }
      h1 {
        text-align: center;
        margin-bottom: 10px;
      }

      p {
        text-align: center;
        margin-top: 10px;
      }
      ::placeholder {
        color: #fff;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <form action="/login" method="post">
        <h1>Login</h1>
        <% if (locals.error) { %>
        <h2 class="error"><%=locals.error%></h2>
        <% } %>
        <div class="input">
          <input type="text" placeholder="Email" required name="email" />
        </div>
        <div class="input">
          <input
            type="password"
            placeholder="Password"
            required
            name="password"
          />
        </div>
        <button type="submit" class="btn">Sign up</button>
        <p>
          Don't have an account?
          <a href="/signup">Sign Up</a>
        </p>
      </form>
    </div>
  </body>
</html>
